<footer>
  <p>
    <abbr title="Homebrew Website Club">HWC</abbr> London is organised by
    <a class="h-card" href="https://calumryan.com/">Calum Ryan</a> with the help of <a class="h-card" href="https://www.ohhelloana.blog/">Ana Rodrigues</a>.
  </p>
  <p>Read our <a href="/code-of-conduct#intro">Code of conduct</a>.</p>
  <p>This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}</p>
</footer>