---
layout: default
---

<div class="h-card p-author" hidden>
  <img class="u-photo" src="/assets/hwclondon.png" alt="HWC London logo">
  <a class="u-url p-name" href="https://hwclondon.co.uk">Homebrew Website Club, London</a>
</div>

{% assign sorted_events = site.events | sort: 'end' | reverse %}
{% for next_event in sorted_events %}
  {% if next_event.end >= site.time %}
    <section class="box h-event">
      <h2 class="p-name">
        <a href="{{ next_event.url }}">Next meeting</a>
      </h2>
      <p>
        <i class="fa fa-calendar"></i>
        <time class="dt-start" datetime="{{ next_event.start }}">
          {{ next_event.start | date: '%A %e %B %Y at %l%P' }}
        </time>
        &mdash;
        <time class="dt-end" datetime="{{ next_event.end }}">
          {{ next_event.end | date: '%l%P' }}.
        </time>
      </p>
      {% assign venue=site.data.venues['wework-sbc'] %}
      {% include venue.html venue=venue %}
      {% include tags.html %}
      <p>
        <strong>
          If you wish to attend you must <a href="#rsvp">RSVP</a>.
        </strong>
      </p>
      <p class="p-summary">
        Finish that blog post you’ve been working on.
        Demos of personal websites and technology.
        Discussion around the independent web.
        Join a community with like-minded interests.
        Bring friends that want a personal site!
      </p>
    </section>
    {% break %}
  {% endif %}
{% endfor %}

<section>
  <h2>What is Homebrew Website Club?</h2>
  <p>
    <a href="https://indieweb.org/Homebrew_Website_Club">Homebrew Website
    Club</a> is a fortnightly meetup of people passionate about or
    interested in creating, improving, building, designing their own
    website.
  </p>
  <p>The format is deliberately loose. After introductions we talk about
    what we're working on and see if we can help each other with projects.
    Whether you're just starting out with your own website or you want to
    discuss the latest IndieWeb technologies you're welcome to join us.
  </p>
</section>

<section>
  <h2>When do you meet and where?</h2>
  <p>
    We mostly meet every other Wednesday from 6pm until roughly 8pm. This page
    shows the next event, or you can
    <a href="https://twitter.com/hwclondon">follow us on Twitter</a> for
    announcements or other news.
  </p>
  <p>
    As of 12 July 2017 we have a new venue:
    <a href="https://www.wework.com/buildings/south-bank-central--london">
      WeWork South Bank Central</a>.
  </p>
</section>

<section>
  <h2 id="rsvp">Join us!</h2>
  {% include rsvp_help.html %}
</section>

<section>
  <h2>Previous meetings</h2>
  <ol>
    {% assign upcoming_events = site.events | sort: 'end' | reverse %}
    {% assign now_d = site.time | date: '%F' %}
    {% for event in upcoming_events %}
      {% assign start_d = event.start | date: '%F' %}
      {% if start_d <= now_d %}
        <li>
          <a href="{{ event.start | date: '%Y%m%d' }}">
            {{ event.start | date: '%e %B %Y' }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</section>
