---
layout: default
title: Homebrew Website Club London
description: Homebrew Website Club London is a fortnightly meetup of people passionate about or interested in creating, improving, building, designing their own website.
---

<div class="h-card p-author" hidden>
  <img class="u-photo" src="/assets/images/hwclondon.png" alt="HWC London logo" />
  <a class="u-url p-name" href="https://hwclondon.co.uk">Homebrew Website Club, London</a>
</div>

<section class="EventAbout">
  <div class="content">
    <div class="EventAboutSummary">
      <div class="inner">
      <p><strong>Join us at our monthly meetup</strong></p>
      <p>Finish that blog post you've been working on. Demos of personal websites and technology. Discussion around the independent web. Join a community with like-minded interests. Bring friends that want a personal site!</p>
      <img src="/photos/2019-02-27.jpg" loading="lazy" alt="Group photo from HWC London." class="featured">
      </div>
    </div>

    {% if site.upcoming == true %}
    <div class="EventAboutNext">
      <div class="inner">
      {% assign sorted_events = site.events | sort: 'end' | reverse %}
      {% for next_event in sorted_events %}
        {% if next_event.end >= site.time %}
          <section class="box h-event">
            <h3 class="p-name">
              <a href="{{ next_event.url }}#intro">Next meeting</a>
            </h3>
            <p>
              <i class="fa fa-calendar"></i>
              <time class="dt-start" datetime="{{ next_event.start }}">
                {{ next_event.start | date: '%A %e %B %Y at %l:%M%P' }}
              </time>
              &mdash;
              <time class="dt-end" datetime="{{ next_event.end }}">
                {{ next_event.end | date: '%l:%M%P' }}.
              </time>
            </p>
            {% assign venue=site.data.venues['thehub-coventgarden'] %}
            {% include venue.html venue=venue %}
            {% include tags.html %}
          </section>
          {% break %}
        {% endif %}
      {% endfor %}
      <a href="#register" class="button">Register</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<section>

  <h3>What is Homebrew Website Club?</h3>
  <p>
    <a href="https://indieweb.org/Homebrew_Website_Club">Homebrew Website
    Club</a> is a regular meetup of people passionate about or
    interested in creating, improving, building, designing their own
    website.
  </p>
  <p>The format is deliberately loose. After introductions we talk about
    what we're working on and see if we can help each other with projects.
    Whether you're just starting out with your own website or you want to
    discuss the latest IndieWeb technologies you're welcome to join us.
  </p>
  <a href="/about#intro" class="button">About IndieWeb</a>
</section>

<hr>

<section>
  <h3>When do you meet and where?</h3>
  <p>
    We mostly meet once a month from 7pm until roughly 8:30pm. This page
    shows the next event, or you can
    <a href="https://twitter.com/hwclondon">follow us on Twitter</a> for
    announcements or other news. We usually meetup at <strong>hub by Premier Inn</strong> but keep an eye out on the event page for any future changes. If you have a suitable venue to host future events then please let us know.
  </p>
</section>

<hr>

{% if site.upcoming != false %}
<section>
  <h3>Upcoming meetings</h3>
  <ol class="CalendarListing">
    {% assign sorted_events = site.events | sort: 'end' | reverse %}
    {% for next_event in sorted_events %}
      {% if next_event.end >= site.time %}
        <li>
          <a href="{{ next_event.url }}" class="CalenderBlock">
            <div>
              <time class="CalendarDate CalendarDate--range" datetime="{{ next_event.start | date: '%Y%m%d' }}">
                <span class="CalendarDate-header">{{ next_event.start | date: '%B' }}</span>
                <span class="CalendarDate-body">{{ next_event.start | date: '%-d' }}</span>
              </time>
            </div>
          </a>
          <div class="CalendarDetail">
            {% include venue.html %}
            <a class="eventdetail" href="{{ next_event.url }}#intro">Event details &raquo;</a>
          </div>
        {% break %}
      {% endif %}
    {% endfor %}
  </ol>
</section>

{% include rsvp.html %}
{% endif %}