---
layout: default
title: Homebrew Website Club London
description: Homebrew Website Club London is a fortnightly meetup of people passionate about or interested in creating, improving, building, designing their own website.
---

<div class="h-card p-author" hidden>
  <img class="u-photo" src="/assets/images/hwclondon.png" alt="HWC London logo" />
  <a class="u-url p-name" href="https://hwclondon.co.uk">Homebrew Website Club, London</a>
</div>

<section class="EventAbout">
  <div class="content">
    <div class="EventAboutSummary">
      <div class="inner">
      <p><strong>Join us at our fortnightly meetup</strong></p>
      <p>Finish that blog post you’ve been working on. Demos of personal websites and technology. Discussion around the independent web. Join a community with like-minded interests. Bring friends that want a personal site!</p>
      </div>
    </div>
    <div class="EventAboutNext">
      <div class="inner">
      {% assign sorted_events = site.events | sort: 'end' | reverse %}
      {% for next_event in sorted_events %}
        {% if next_event.end >= site.time %}
          <section class="box h-event">
            <h3 class="p-name">
              <a href="{{ next_event.url }}">Next meeting</a>
            </h3>
            <p>
              <i class="fa fa-calendar"></i>
              <time class="dt-start" datetime="{{ next_event.start }}">
                {{ next_event.start | date: '%A %e %B %Y at %l%P' }}
              </time>
              &mdash;
              <time class="dt-end" datetime="{{ next_event.end }}">
                {{ next_event.end | date: '%l%P' }}.
              </time>
            </p>
            {% assign venue=site.data.venues['wework-sbc'] %}
            {% include venue.html venue=venue %}
            {% include tags.html %}
          </section>
          {% break %}
        {% endif %}
      {% endfor %}
      <a href="#register" class="button">Register</a>
      </div>
    </div>
  </div>
</section>

<section>

  <h3>What is Homebrew Website Club?</h3>
  <p>
    <a href="https://indieweb.org/Homebrew_Website_Club">Homebrew Website
    Club</a> is a fortnightly meetup of people passionate about or
    interested in creating, improving, building, designing their own
    website.
  </p>
  <p>The format is deliberately loose. After introductions we talk about
    what we're working on and see if we can help each other with projects.
    Whether you're just starting out with your own website or you want to
    discuss the latest IndieWeb technologies you're welcome to join us.
  </p>
  <a href="/about#intro" class="button">About IndieWeb</a>
</section>

<hr>

<section>
  <h3>When do you meet and where?</h3>
  <p>
    We mostly meet every other Wednesday from 6pm until roughly 8pm. This page
    shows the next event, or you can
    <a href="https://twitter.com/hwclondon">follow us on Twitter</a> for
    announcements or other news.
  </p>
  <p>
    As of 12 July 2017 we have a new venue:
    <a href="https://www.wework.com/buildings/south-bank-central--london">
      WeWork South Bank Central</a>.
  </p>
</section>

<hr>

<section>
  <h3>Upcoming meetings</h3>
  <ol class="CalendarListing">
    {% assign sorted_events = site.events | sort: 'end' | reverse %}
    {% for next_event in sorted_events %}
      {% if next_event.end >= site.time %}
        <li>
          <a href="{{ next_event.url }}" class="CalenderBlock">
            <div>
              <time class="CalendarDate CalendarDate--range" datetime="{{ next_event.start | date: '%Y%m%d' }}">
                <span class="CalendarDate-header">{{ next_event.start | date: '%B' }}</span>
                <span class="CalendarDate-body">{{ next_event.start | date: '%-d' }}</span>
              </time>
            </div>
          </a>
          <div class="CalendarDetail">
            {% include venue.html venue=venue %}
          </div>
        {% break %}
      {% endif %}
    {% endfor %}
  </ol>
</section>

{% include rsvp.html %}
