<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}{% if date %} - {{ date | dateDisplay("LLLL d, y") }}{% endif %}</title>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    {% include "header.njk" %}

    <main id="intro">
      <article class="container">
        {{ content | safe }}
      </article>
    </main>

    {% include "footer.njk" %}

  </body>
</html>



