<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    {% include "header.njk" %}

    <main id="intro">
      <article class="container">
        <h1>Meetups</h1>

        <div class="event-notification">
          <p>Our upcoming events are now listed on the <a href="https://events.indieweb.org">IndieWeb community events</a> page.</p>
          <p>Check regularly to find the latest HWC London / Europe meetups and other events.</p>
        </div>
        <ul class="listing">
        {%- for page in collections.meetup | reverse -%}
        <li>
            <a href="{{ page.url }}">
            <time datetime="{{ page.date }}">{{ page.date | dateDisplay("LLLL d, y") }}</time></a>
        </li>
        {%- endfor -%}
        </ul>
      </article>
    </main>

    {% include "footer.njk" %}

    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



