---
layout: layouts/base.njk
pageClass: meetups
templateEngineOverride: njk, md
---

<main>
<h1 class="h2">{{ date | dateDisplay("LLLL d, y") }}</h1>
{{ content | safe }}

{% if photo %}
<figure class="photo">
  <img src="/photos/{{ photo }}" alt="Photo with">
  <figcaption>HWC London group photo</figcaption>
</figure>
{% endif %}

{% if attendees %}
  <h2>Attendees</h2>
  <ul>
  {% for attendee in attendees %}
  {% if data_attendees.indexOf(attendee.url) %}<li><a class="u-url p-name" href="{{ attendee }}"><small>{{ attendee }}</small></a></li>{% endif %}
  {% endfor %}
  </ul>
{% endif %}

<div class="footnote">
  <p>
    This page is part of the posts section.
  </p>
</div>
</main>
