---
layout: layouts/base.njk
pageClass: meetups
templateEngineOverride: njk, md
---

<main>
<h1 class="h2">{{ date | dateDisplay("LLLL d, y") }}</h1>
{{ content | safe }}

{% if photo != 'empty' %}
<figure class="photo">
  <img src="/photos/{{ date | dateDisplay("y-LL-dd") }}.jpg" alt="Attendees at HWC London">
</figure>
{% endif %}

{% if attendees %}
  <h2>Attendees</h2>
  <ul>
  {% for attendee in attendees %}
  {% if data_attendees.indexOf(attendee.url) %}<li><a class="u-url p-name" href="{{ attendee }}"><small>{{ attendee }}</small></a></li>{% endif %}
  {% endfor %}
  </ul>
{% endif %}

</main>
