---
layout: default
title: Meetups
---


<h1 id="intro">Upcoming meetups</h1>

<section class="groups">
  {% assign sorted_events = site.events | sort: 'end' | reverse %}
  {% for next_event in sorted_events %}
    {% if next_event.end >= site.time %}
  <article>
    <h3><a href="{{ next_event.start | date: '%Y%m%d' }}">{{ next_event.title }}</a></h3>
    <p>
      <span class="date">{{ next_event.date }}</span>
    </p>
  </article>
  {% break %}
{% endif %}
{% endfor %}
</section>

<h2>Previous meetups</h2>
<p>Our previous events are all listed here including any details about topics discussed and website or feature demos.</p>

<section class="groups">
{% assign upcoming_events = site.events | sort: 'end' | reverse %}
{% assign now_d = site.time | date: '%F' %}
{% for event in upcoming_events %}
  {% assign start_d = event.start | date: '%F' %}
  {% if start_d <= now_d %}
  <article>
    <h3><a href="{{ event.start | date: '%Y%m%d' }}">{{ event.title }}</a></h3>
    <p>
      <span class="date">{{ event.date }}</span>
    </p>
  </article>
  {% endif %}
{% endfor %}
</section>
