.attendees {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 2vw -2vw;

  li {
    position: relative;
    z-index: 1;
    list-style: none;
    margin-bottom: 30px;
    flex: 1 0 auto;
    min-width: 50%;
    padding: 0 2vw;
    @include Small {
      flex: 1 0 25%;
      min-width: 25%;
    }

    i {
      margin: auto;
      display: block;
    }

    a {
      display: block;
    }

    img {
      border-radius: 50%;
      display: block;
    }
  }
}
