.button, a.button, .tito-tickets-button {
  background-color: $iw-orange;
  border:0;
  padding: 10px 15px;
  color: #FFF;
  border-radius: 5px;
  font-family: 'Titillium Web';
  text-decoration: none;

  &:hover, &:active, &:visited {
    color:#FFF;
  }

  &:focus, &:hover {
    background-color: #efefef;
    color: #000;
  }
}
