.CalendarDate {
    background: #fff;
    border: 3px solid #000;
    border-radius: 6px;
    display: inline-flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 1.25;
    min-height: 4.5em;
    min-width: 4.5em;
    text-align: center;
    overflow: hidden;

    &-header {
        background: $iw-yellow;
        border-bottom: 3px solid transparent;
        color: #000;
    }

    &-body {
        font-size: 1.95313em;
        margin: auto 0
    }

    &--range &-body {
        font-size: 1.25em
    }


}

.CalenderBlock {
  flex-shrink: 1;
  align-items: center;
  min-width: 112px;
}

.CalendarListing {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  @include Medium {
    margin: 0 -10px;
  }

  li {
    list-style: none;
    flex-direction: row;
    display: flex;
    flex:1 0 100%;
    margin: 20px auto;

    @include Medium {
      padding: 0 10px;
      flex:1 0 33.333%;
      min-width: 33.333%;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    p {
      margin: auto;
    }
  }
}

.CalendarDetail {
  flex-shrink: 1;
  margin-left: 15px;
}
