.intro {
  position: relative;
  background-color: #666;
  transform: translateZ(0);
  background-image: linear-gradient(45deg, #3b3d3e, #3682a7);
  clear: both;
  overflow: hidden;
  padding-top: 53px;
  @include Small {
    padding-top: 0;
  }
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .caption {
    position: absolute;
    bottom: 25%;
    right: 35%;
    width: 100%;
    text-align: center;
    z-index: 10;
    color: white;
    font-size: 15px;
    text-align: right;

    h1 {
      font-size: 16px;
      line-height: 18px;
      @include Small{
        font-size: 3vw;
        line-height: 3.6vw;
      }
      margin: 0;

      span {
        text-transform: uppercase;
        color:$iw-yellow;
        display: block;
      }

      a {
        text-decoration: none;
        color: #FFF;
      }
    }


    &__logo {
      width: 50px;
      @include Small{
        width:8vw;
      }
    }
  }
  img {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      z-index: 1;
      mix-blend-mode: multiply;
    }

}
