.rsvps {
  margin: 0;
  padding: 0;

  h3 {
    text-align: center;
  }

  > li {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 1px 0;
    list-style: none;
    flex: 1 0 100%;

    > ul {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
      align-items: self-start;
      justify-content: center;
      list-style: none;
      > li {
        display: flex;
        flex-direction: column;
        flex: 1 0 33.333%;
        max-width: 33.333%;
        list-style: none;
        margin-bottom: 20px;

        a {
          text-decoration: none;
          padding: 0 10px;
          flex-direction: column;
          height: 100%;
          color: #000;
        }

        img {
          border-radius: 50%;
          display: block;
          margin: auto;
          width: 90px;
        }

      }
    }

  }

  #interested {
    h3 {
      color: $iw-orange;
    }
  }

  #not-attending {
    h3 {
      color: $iw-red;
    }
    li {
      opacity: 0.5;
    }
  }

  &-name {
    font-size: 15px;
    text-align: center;
    max-width: 80%;
    margin: 10px auto auto auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-blank {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    background-color: #CCC;
  }

}
