/*** RESET ***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
figure {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*** MAIN ***/

body {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f6f6f6;
  color: #444;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

h1, h2, h3, p, figure, ul, ol {
  margin-bottom: 20px;
}
h2, h3 {
  font-weight: 600;
  color: #000;
  padding-top: 20px;
}
li {
  margin-bottom: 10px;
}

a {
  color: #ff5c00;
  text-decoration: none;
  border-bottom: 1px solid #ffb100;
}
a:hover {
  color: #000;
  border-color: #000;
}
strong {
  font-weight: 600;
}

header, main {
  margin: 30px;
  max-width: 700px;
}
header h1 {
  font-weight: 600;
  font-size: 30px;
}
footer {
  border-top: 2px solid #ffb100;
  padding: 30px 30px 0 30px;
}

i.fa {
  color: #5c5c5c;
  padding-right: 5px;
}
time abbr {
  font-size: 80%;
}
.next {
  max-width: 700px;
  background: #fcfcfc;
  border: 2px solid #ffb100;
  padding: 0 20px;
  margin-bottom: 30px;
}
.tags li {
  display: inline;
  color: #5c5c5c;
}
.tags li span {
  margin-right: 5px;
}

figure img {
  max-height: 300px;
}
figure a {
  border: none;
}
figcaption {
  font-size: 17px;
}