.listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2rem;
  margin: 0;
  padding: 0;
}

.listing li {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex: 1 0 100%;
}

.listing li a {
  padding: 0.5em;
  background: #2d2d2d;
  box-shadow: $shadow-1;
  width: 100%;
  height: 100%;
}
