.stand {
  fill: #ccc;
  margin-left: -10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fill {
  0% {
    fill: $iw-orange;
  }
  40% {
    fill: $iw-red;
  }
  80% {
    fill: $iw-yellow;
  }
  100% {
    fill: $iw-orange;
  }
}

.wheel {
  fill: #fff;
  animation-name: fill;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.grouped {
  animation-name: spin;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
  .wheel,
  .grouped {
    animation: none;
  }
}

.londoneye {
  height: 90%;
  margin: auto;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 70%;
  z-index: 2;
  overflow: visible;
  box-shadow: 0px -0px 10000px transparent;
}

.londoneye__norotate .grouped {
  animation: none;
}
